$fontGot: gothampro, Arial, sans-serif;
$font: 'Times New Roman', serif;


//======================
$phone: 450px;
$tablet: 760px;
$desk: 1024px;

$maxWidht: 1142px;
$maxWidthWindow: 2500px;
//======================
$color: #fff;
$colorYellow: #fede2d;
$colorBgFooter: #c6cbcf;