html {
    font-family: $fontGot;
    font-size: 16px;
}
body {}

.body-wrapper {
    width: 100%;
    max-width: $maxWidthWindow;
    margin: 0 auto;
}

.body-fixed {
    overflow-y: hidden;
}
.main {}

a, button {
    outline-color: $colorYellow;
}
